@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #333131;
    border-bottom: 3.5px solid yellow;
    z-index: 3;
}

.logo {
    height: 40px;
    line-height: 60px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-top: 9px;
}

.logo2 {
    height: 50px;
    margin-left: 764px;
    margin-top: 5px;
    position: fixed;
}

/*
.logo2 {
    height: 50px;
    margin-left: 300px;
    margin-top: 5px;
}*/

/*
#toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: blueviolet;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#toggle {
    position: absolute;
    top: 0;
    right: 0px;
    height: 60px;
    width: 60px;
    /* background: blueviolet; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #FFFF00;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0 10px 0 #FFFF00;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #FFFF00;
    transform: translateY(10px);
    transition: 0.2s;
    box-shadow: 0 -10px 0 #FFFF00;
}

#toggle.active {
    background: #f7226a;
    z-index: 12;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    background: #fff;
    box-shadow: 0 0 0 #FFFF00;
    
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #FFFF00;
    background: #fff;
}


#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    transition: 0.5s all ease;
    width: 0px;
    overflow: hidden;
}

#navbar.button {
    width: 559.950px;
    overflow: inherit;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: white;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
  /*  letter-spacing: 2px; */
    padding: 19px 15px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    transition: 0.2s;
    text-transform: uppercase;
}

#navbar li a.active {
    color: rgb(255, 255, 0);
    border-bottom: 3.5px solid #ff5100;
}

#navbar li:nth-child(2) a.active {
    color: #ff4c4c;
    border-bottom: 3.5px solid #ff4c4c;
}

#navbar li:nth-child(3) a.active {
    color: #1DA1F2;
    border-bottom: 3.5px solid #1DA1F2;
}

#navbar li:nth-child(4) a.active {
    color: #eec160;
    border-bottom: 3.5px solid #eec160;
}

#navbar li:nth-child(5) a.active {
    color: #75bdca;
    border-bottom: 3.5px solid #75bdca;
}

/*
#navbar ul li a:hover {
    color: #000000;
    background: yellow;
    border-bottom: 3.5px solid rgb(0, 0, 0);
}*/

#navbar ul li:nth-child(1):hover a {
    color: yellow;
    border-bottom: 3.5px solid #ff5100;
}

#navbar ul li:nth-child(2):hover a {
    color: #ff4c4c;
    border-bottom: 3.5px solid #ff4c4c;
}

#navbar ul li:nth-child(3):hover a {
    color: #1DA1F2;
    border-bottom: 3.5px solid #1DA1F2;
}

#navbar ul li:nth-child(4):hover a {
    color: #eec160;
    border-bottom: 3.5px solid #eec160;
}

#navbar ul li:nth-child(5):hover a {
    color: #75bdca;
    border-bottom: 3.5px solid #75bdca;
}

.backgroundimage {
    background-color: rgb(0, 0, 0);
    background-image: url("/housecon.a778d3d5.jpg");
    height: 90.8vh;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 130%;
}

.backgroundimage2 {
    background-color: rgb(0, 0, 0);
    background-image: url("/LogoBG.db87068a.jpg");
    height: 90.8vh;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    z-index: -1;
}
/*
.textbox1 {
    background-color: transparent;
    position: absolute;
    margin-left: 230px;
    margin-top: 163px;
}*/


.h1box {
    font-size: 98px;
    font-family: 'Helvetica', sans-serif;
    color: #ffc400;
    font-weight: 900;
    filter: drop-shadow(0px 0px 7px #ffc400);
    letter-spacing: 30px;
    margin-top: 58px;
}

.h2box {
    font-size: 56px;
    font-family: 'Helvetica', sans-serif;
    color: #ffffff;
    filter: drop-shadow(0px 3px 4px #FFFF);
}
.textbox2 {
    background-color: transparent;
    position: absolute;
    margin-left: 234px;
    margin-top: 349px;
}
.textbox1 {
    background-color: transparent;
    position: absolute;
    margin-left: 230px;
    margin-top: 233px;
}

.blackbg {
    position: absolute;
    margin-left: 230px;
    margin-top: 233px;
    width: 366px;
    background-color: #0000002c;
    height: 183px;
    border-radius: 28px;
    z-index: -1;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


/* @ MOPBILE */
@media (max-width: 991px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar.button {
        height: calc(100vh - 40px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*# sourceMappingURL=/rzstyles.34933260.css.map */